html,body{
    background: rgb(245, 225, 228);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-width: 100%;
    min-height: 100%;
}
#videobg{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
nav{
    background:rgb(242, 8, 129) ;
    position: fixed;
    width: 100%;
}
nav .logo{
    position: fixed;
    margin: 16px 36px;
    float: left;
    font-weight: bold;
    font-size: 24px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .3s;
}
nav ul li{
    float: right;
    padding: 20px;   
}
nav ul li a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    transition: .3s;
}
nav ul li a:hover{
    color:black;
}
.header{
    text-align: center;
    font-size:20px;
    text-transform: uppercase;
    color:rgb(241, 6, 116);
}
.container{
    top: 50%;
    left: 50%;
    background:rgba(231, 129, 185, 0.5);
    position:absolute;
    border: 1px solid rgb(236, 7, 144);
    transform: translate(-50%,-50%);
    width:30%;
    padding:15px;
    border-radius: 10px;
}
.input-group{
    margin:10px 0px 10px 0px;
}
i{
    color:rgb(241, 6, 116);
}
.input-group label{
    color:rgb(241, 52, 140);
    text-align: center;
    margin:3px;
    font-size:16px;
}
.input-group input{
    height:30px;
    width:93%;
    padding:2px 5px;
    font-size: 15px;
    border-radius: 5px;
    border:none;
    box-shadow:0px 4px rgb(211, 51, 153);
    border-bottom: 1px solid maroon;
    outline:none;
}
.btn{
    padding:10px;
    font-size:15px;
    color:white;
    border:none;
    background:rgb(235, 82, 179);
    border-radius: 5px;
    width:95%;
    box-shadow:0px 4px rgb(211, 51, 153);
    height:35px;
}
.btn:hover{
    cursor: pointer;
    background-color:rgb(241, 6, 116);
}
p{
    font-size:16px;
    text-align: center;
}
.error{
    width: 92%;
    margin:0px auto;
    padding:10px;
    border:1 px solid red;
    color:red;
    background:rgba(232, 117, 117, 0.5);
    border-radius: 5px;
    text-align: left;
}
.success{
    color: green;
    background: rgb(181, 224, 181,0.5);
    border:1px solid green;
    width:60%;
    padding:15px;
    border-radius: 10px;
    text-align: center;
    margin-top:50px;
}
.welcome{
    top: 50%;
    left: 50%;
    background:rgba(231, 129, 185, 0.5);
    position:absolute;
    border: 1px solid rgb(236, 7, 144);
    transform: translate(-50%,-50%);
    width:40%;
    padding:15px;
    border-radius: 10px;
    text-align: center;
}




